#current-details{
        padding-top:0%;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.menuIcon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
* {
  width:100%;
}
.forecast-column{
  width:50%;
  float:left;
}
#forecast{
  position:absolute;
  top:100%;
}
#web-id{
  position:absolute;
  top:5px;
  left:80%;
  float:right;
}
.forecast-row{
        margin-left: 5%;
        margin-right: 5%;
}
.collapse {
  background-color: #FFF;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 16%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy; color: black;
}
table,
    td {
        border: 2px solid #333;
        font-size: 20px;
    }
    
    thead,
    tfoot {
        background-color: b0d6f9;
        color: #000000;
    }
table {
  width:100%;
  table-layout: fixed;
  height:100%;
}
td.t-column-l{
  width:50%;
}
td.t-column-r{
  width:50%;
}
.active, .collapse:hover {
  background-color: #EEE;
}

.collapse:after {
  /*content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;*/
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /*background-color: #f1f1f1;*/
  background-size: 100% 100%;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  #b1{
    position:absolute;
    height: 80%;
    width:95%;
  }
  /*#b2{
    position:absolute;
    top:80%;
  }*/
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
.icon{
    width:150px;
    opacity: 200%;
}
.iconSmall{
    width:75px;
    opacity: 200%;
}
.column .left-column-detail{
    float:right;
    position:absolute;
    left:50%;
    width:50%;
    top:0%;
    height:100%;
    background-color:white;
  color:black;
  text-align:center center;
}
.column{
  /*position:absolute;*/
    float: left;
    width: 95%;
    /*height: 550px;*/
    border-style: solid;
    background-size: 100%;
  /*padding-top:1%;
  padding-bottom:1%;*/
}
#detail-weather{
  /*position:absolute;*/
  /*float:right;*/
  /*width:60%;*/
  font-size:100%;
  /*top:0%;*/
}
.lo{
    color:blue;
}
.lo15{
    color: blue;
}
.hi{
    color:red;
}
hr {
        border-top: 1px solid white;
}
/*hr{
    width: 50px;
    border-color: transparent;
    border-right-color: rgba(255, 255, 255, 0.7);
    border-right-width: 50px;
    position: absolute;
    bottom: 100%;
    transform-origin: 100% 50%;
    animation-name: rain;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes rain {
    from {
     transform: rotate(105deg) translateX(0);
    }
    to {
     transform: rotate(105deg) translateX(calc(100vh + 20px));
    }
   }*/
.precip {
    white-space: nowrap;
}
#details{
    position: absolute;
    left:5%;
    top:95%;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 12%; /* Full width */
  height: 75%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  padding-left:.625%;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 12%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}
#title1{
  text-align: center;
  font-size: 50px;
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: lightblue;
  color: white;
}

.modal-body {padding: 2px 26px;}

.modal-footer {
  padding: 2px 16px;
  background-color: lightblue;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  /*from {bottom: -300px; opacity: 0}*/
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
.detail{
    font-size:70%;
}
#precip-group{
    height:10%
}
#home{
    /*position: absolute; /* Position them relative to the browser window */
    /*left: -80; /* Position them outside of the screen */
    /*transition: 0.3s; /* Add transition on hover */
    /*padding: 15px; /* 15px padding */
    width: 10%; /* Set a specific width */
    height:10%;
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    background-color:#383E99;
    border-radius: 5px 5px 5px 5px; /* Rounded corners on the top right and bottom right side */
}
#expand{
    width: 100%;
    background-color: lightblue;
}
/*.alert{
    background-color: red;
    color:white;
    border-radius:50%;
    position:absolute;
    top:125px;
}*/
.alert1{
    background-color: red;
    color:white;
    border-radius:50%;
    position:absolute;
    top:275px;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}
.alert.warning {background-color: #ff9800;}
body{
        width: 100%;
        height: 100%;
    background-size:100% 100%;
}
html, body {
        height: 100%;       
}
