.icon{
    width:100px;
}
.column{
    float: left;
    width: 14%;
    height: 540px;
    border-style: solid;
}
.lo{
    color:#addde6;
}
.hi{
    color:red;
}
body{
    background-image: url(backgrounds/sunny.png);
}
